
$white:    #fff !default;
$brand-red:    #ff0000 !default;
$brand-black:    #000 !default;
$menu-color:    #4d4f52 !default;
$text-color: #555555 !default;
p{
    color: $text-color;
    font-size: 14px;
    line-height: 22px;
}
body{
    font-family: 'Rubik', sans-serif;
}
// 
.header-main{
    --background: rgb(255, 0, 0);
    --color: #fff;
    .page-title{
        margin: 0;
        padding: 0;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }
}
//home slider

ion-slide{
    background-color: $white;
}
.slider-wrap{      
 border-radius: 15px;
 overflow: hidden;
 width: 85%;
 margin-top: 20px;
}
.shop-slider{      
 border-radius: 0;
 overflow: hidden;
 width: 100%;
 margin-top: 0px;
}
.heading-border{
    color: $brand-black;
    font-size: 16px;
    position: relative;
    text-align: center;
    font-weight: bold;
    padding: 0 18px 18px;
    margin: 0 0 25px 0;
    span{
        color: $brand-red;
    }
    &::before{
        content: "";
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
        border: 1px solid $brand-red;
    }
    &::after{
        content: '';
        position: absolute;
        width: 50%;  
        height: 1px;
        background-color: $brand-red;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

}
.container{
    padding: 22px;
    overflow: hidden;
}
.read-more{
    background: $brand-red;
    display: block;
    padding: 10px 10px;
    color: $white;
    text-decoration: none;      
    margin: 0 auto;
    text-align: center;
}
.content-wrap{
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
    box-shadow: 0px -1px 8px -3px #888;
    padding: 10px;
    .content{

    }
    .image{

    }
}
.what-wedo-wrap{
    .item{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-size: cover;
            text-decoration: none;
            padding: 25px;
            img{
                max-width: 35%;
            }
            h2{
                font-size: 18px;
                text-decoration: none;
                color: #fff;
                text-align: center;
            }
        }
    }
} 
// ion-slide {
//     width: 100% !important;
//     height: 290px !important;

//     margin-right: -18px;
//     margin-left: 18px
//   }

//   ion-slide:first-child {
//     margin-left: 0;
//   }

//   ion-slide:last-child {
//     margin-right: 0;
//   }
.cart-header{
    --background-color: transparent;
}
ion-fab-button {
    --background: var(--ion-color-step-150, #fff);
    --background-hover: var(--ion-color-step-200, #f2f2f2);
    --background-focused: var(--ion-color-step-250, #d9d9d9);
  
    --color: var(--ion-color-primary, #3880ff);
  }
  ion-fab{
    bottom: 70px;
    right: 26px;
  }
.cart-header{
    background-color: transparent;
    ion-icon{
        color: #fff;
        font-size: 35px;
        position: relative;
    }
    ion-badge{
        position: absolute;
        top: 0;
        right: 0;
        background: red;
    }
}
ion-fab-button{
    .button-native{
        background-color: #fff;
    }
}